<h3 class="text-center text-primary"><%= t('application_name') %></h3>
<p class="text-center"><%= t('application_info') %></p>
<%= render "search/form" %>
<%= render "search/results", locals: { contacts: @contacts } %>
