<h3 class="text-center text-primary">Phonebook</h3>
<p class="text-center">A simple way to manage phone contacts</p>
<%= render "search/form" %>
<%= render "search/results", locals: { contacts: @contacts } %>
