// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
	padding: 5px;
	margin-bottom: 0px;
}

.alert-dismissable .close {
	position: static;
}

.form-group {
	margin-bottom: 25px;
}

.contact-details {
	margin-top: 60px; 
}

table.contactIndex thead th {
	background-color: #8FAAD5;
	color: white;
	text-align: center;
}

table.contactIndex tbody td {
	text-align: center;
}

table.contactIndex td.text {
	padding-top: 14px !important;
}

table.contactIndex td.actionButtons {
	width: 10%;
}
