// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
	opacity: 1.0;
}

#footer nav.navbar div.navbar-inner {
	padding-top: 14px;
}

.navbar-right {
	float: right !important;
}
