<div class="container-fluid" id="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
      <p class="muted text-center credit">Courtesy of <a href="https://www.linkedin.com/pub/giorgio-bruschini/36/797/857">Giorgio Bruschini</a>.</p>
    </div>
  </nav>
<!--
  <div class="container">
    <p class="muted text-center credit">Courtesy of <a href="https://www.linkedin.com/pub/giorgio-bruschini/36/797/857">Giorgio Bruschini</a>.</p>
  </div>
-->
</div>
