<div class="footer navbar-fixed-bottom">
  <div class="container">
    <p class="muted credit">Courtesy of <a href="https://www.linkedin.com/pub/giorgio-bruschini/36/797/857">Giorgio Bruschini</a>.</p>
  </div>
</div>
